/* import fonts from the fonts.css file */
@import url(./fonts.css);

/* import CSS variables */
@import url(./partials/_variables.css);

/* start navigation */

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
    font-size: 25px;
    color: var(--ash-color);
}

.header_area .main-menu .navbar{
    padding: 1.2rem 5rem;
}

.header_area .main-menu .nav-item .nav-link{
    /*font-family: 'Roboto';*/
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.35rem;
    color: var(--granny-smith-color);
}

.header_area .main-menu .navbar-nav .active{
    color: var(--ash-color);
}

.header_area .main-menu .navbar-nav a:hover{
    color: var(--ash-color);
}

/* end navigation */